// Basic Colors
// $card-border-width: 0;
// $card-border-radius: 0;
// $nav-tabs-border-radius: 0;
// $btn-border-radius: 0;
$blue:    #6699cc !default;
$indigo:  #7986CB !default;
$purple:  #c594c5 !default;
$pink:    #EC5f67 !default;
$red:     #F07178 !default;
$orange:  #F9AE58 !default;
$yellow:  #ffc107 !default;
$green:   #99C794 !default;
$teal:    #5fb3b3 !default;
$cyan:    #89DDF3 !default;

// $border-radius: 0;
$enable-rounded: false;
$border-width: 0;

$theme-colors: (
  "black": #1e1e1e
);
// $white: #f8f8f2;
// $black: #343d46;

$body-color: #f8f8f2;
$body-bg: #343d46;

$hexlet-basics-html-bg: #99C794;
$hexlet-basics-php-bg: #5fb3b3;
$hexlet-basics-java-bg: #89ddf3;
$hexlet-basics-javascript-bg: #7986cb;
$hexlet-basics-racket-bg: #f9ae58;
$hexlet-basics-python-bg: #c594c5;

.hexlet-basics-html-bg {
  background-color: $hexlet-basics-html-bg;
}

.hexlet-basics-php-bg {
  background-color: $hexlet-basics-php-bg;
}

.hexlet-basics-java-bg {
  background-color: $hexlet-basics-java-bg;
}

.hexlet-basics-javascript-bg {
  background-color: $hexlet-basics-javascript-bg;
}

.hexlet-basics-racket-bg {
  background-color: $hexlet-basics-racket-bg;
}

.hexlet-basics-python-bg {
  background-color: $hexlet-basics-python-bg;
}

@import "~bootstrap/scss/bootstrap";
@import "~highlight.js/styles/vs";

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}

img.hexlet-basics-finished-lesson-sticker {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  height: 40px;
  width: auto;
}

/* the only light, non-standard block, has to be customized directly */
.hexlet-basics-theory-card {
//   height: calc(100vh - 4em);
//   // font-family: $font-family-sans-serif;
//   color: $hexlet-basics-dark-color;
//   background-color: $hexlet-basics-very-light-yellow;

//   a {
//     color: $blue;
//   }

  img {
    max-width: 100%;
  }

  table {
    margin: 1.5rem 0;
    width: auto;

    thead {
      th {
        vertical-align: bottom;
        border-bottom: 2px solid #d9d9d9;
        border-top: 1px solid #d9d9d9;
        padding: 0.75rem;
      }
    }

    tbody {
      td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #d9d9d9;
      }
    }
  }


//   .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
//     color: $blue;
//     background-color: #D8DEE9;
//   }
  pre {
    // color: $hexlet-basics-dark-color;
    border: 1px dashed $indigo;
    padding: 8px;
  }

  pre.hexlet-basics-output {
    display: inline-block;
    background-color: $black;
    color: white;
    min-width: 220px;
    max-width: 100%;
    padding: 0 10px 12px 15px;
    margin-bottom: 0;
    border: none;
  }

  pre.hexlet-basics-output:before {
    content: '';
    background:url('/images/fake_output_topbar.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 210px;
    height: 27px;
    display: block;
    margin-bottom: 10px;
    background-color: #353d46;
    width: calc(100% + 15px);
    margin-left: -15px;
  }

//   p code {
//     background-color: lighten($blue, 34%);
//     padding: 1px 4px;
//     border-radius: 3px;
//   }
// }

// img.hexlet-basics-navbar-logo {
//   height: 1.5em;
//   width: auto;
}
