// Basic Colors
$blue:    #6699cc !default;
$indigo:  #7986CB !default;
$purple:  #c594c5 !default;
$pink:    #EC5f67 !default;
$red:     #F07178 !default;
$orange:  #F9AE58 !default;
$yellow:  #ffc107 !default;
$green:   #99C794 !default;
$teal:    #5fb3b3 !default;
$cyan:    #89DDF3 !default;

// Languages colors
$hexlet-basics-php-color: $teal;
$hexlet-basics-javascript-color: $indigo;
$hexlet-basics-python-color: $purple;
$hexlet-basics-racket-color: darken($orange, 10%);

// App colors
$hexlet-basics-font-color: #f8f8f2;
$hexlet-basics-dark-color: #343a40;
$hexlet-basics-active-color: #eee;
$hexlet-basics-active-bg: #1e1e1e;

$hexlet-basics-gray: #a7adba;
$hexlet-basics-very-light-gray: #d8dee9;
$hexlet-basics-very-dark-gray: #343d46;
$hexlet-basics-very-light-yellow: #fffffb;

// Bootstrap color settings
$primary: $hexlet-basics-very-light-gray !default;
$body-bg: $hexlet-basics-very-dark-gray;
$body-color: $hexlet-basics-font-color !default;
$pre-color: $hexlet-basics-very-light-yellow;
$close-color: $hexlet-basics-very-dark-gray;
$card-bg: $teal !default;

// Fonts
$font-family-monospace: 'Fira Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-monospace !default;

// Boxes and borders
$enable-rounded: false;
$enable-transitions: false;
$nav-link-padding-y: .2rem !default;
$nav-link-padding-x: 0.75rem !default;
$link-hover-decoration: none;
$fa-font-path: "/fonts";

$nav-tabs-border-color: $hexlet-basics-dark-color;
$nav-tabs-link-active-border-color: $hexlet-basics-dark-color;
$nav-tabs-link-hover-border-color: $body-bg;
$nav-tabs-link-active-color: $hexlet-basics-active-color;
$nav-tabs-link-active-bg: $hexlet-basics-active-bg;

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~highlight.js/styles/atom-one-light";

// Custom utils
.x-100vh {
  height: 100vh;
}

.x-overflow-y-scroll {
  overflow-y: scroll;
}

.x-overflow-hidden {
  overflow: hidden;
}

.x-overflow {
  overflow: auto;
}

.x-wrap-word {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.x-flex-1 {
  flex: 1;
  flex-basis: 0;
}

.x-no-focus-outline {
  &:focus, &:active {
    outline:0;
    box-shadow: none;
  }
}

.x-cursor-pointer {
  cursor: pointer;
}

.x-1em-inline-block {
  width: 1em;
  display: inline-block;
}

.x-font-sans-serif {
  font-family: $font-family-sans-serif;
}

// Notifications
.hexlet-ide-notifications {
  color: black;
  .fa {
    opacity: 1;
  }
  .fa-warning {
    color: #df0000;
  }
  .fa-check {
    color: green;
  }
}

// Code-related tabs
.hexlet-basics-tab-content {
  background-color: $hexlet-basics-active-bg;
}

// Lessons list
.hexlet-basics-lesson-card {
  background-color: red;
  border: none;
  border-radius: 3px;

  &:hover {
    background-color: lighten(red, 10%);
  }
}

.hexlet-basics-lesson-card-php {
  background-color: $hexlet-basics-php-color;

  &:hover {
    background-color: lighten($hexlet-basics-php-color, 10%);
  }
}

.hexlet-basics-lesson-card-javascript {
  background-color: $hexlet-basics-javascript-color;

  &:hover {
    background-color: lighten($hexlet-basics-javascript-color, 10%);
  }
}

.hexlet-basics-finished-lesson-card {
  background-color: gray;

  &:hover {
    background-color: lighten(gray, 10%);
  }
}

// Generic cards
.hexlet-basics-card {
  color: white;
}

.hexlet-basics-indigo-card {
  background-color: $indigo;
}

.hexlet-basics-purple-card {
  background-color: $purple;
}

.hexlet-basics-orange-card {
  background-color: $orange;
}

.hexlet-basics-disabled-card {
  background-color: $hexlet-basics-gray;
}

img.hexlet-basics-finished-lesson-sticker {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

/* the only light, non-standard block, has to be customized directly */
.hexlet-basics-theory-card {
  height: calc(100vh - 5em);
  font-family: $font-family-sans-serif;
  color: $hexlet-basics-dark-color;
  background-color: $hexlet-basics-very-light-yellow;

  a {
    color: $blue;
  }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: $blue;
    background-color: #D8DEE9;
  }

  pre {
    color: $hexlet-basics-dark-color;
  }
}
