$nav-tabs-border-radius: 0;
$nav-link-padding-y: .2rem !default;
$nav-link-padding-x: 0.75rem !default;
$link-hover-decoration: none;

@import "~bootstrap/scss/bootstrap";
@import "~highlight.js/styles/atom-one-light";

.x-100vh {
  height: 100vh;
}

.x-overflow {
  overflow: auto;
}

.x-flex-1 {
  flex: 1;
  flex-basis: 0;
}
