@import './variables';
@import 'tabler/scss/tabler';
@import "highlight.js/styles/github";
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';

// generage x-vh-{breakpoint}-{size} class (x-vh-md-50, etc)
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $unit in (height: vh) {
      @each $size in (25, 50, 75, 100) {
        .x-#{$unit}#{$infix}-#{$size} { #{$prop}: #{$size}#{$unit} !important; }
      }
    }
  }
}

// generage x-(w|h)-{breakpoint}-{size} class (x-w-md-25, x-h-md-100, etc)
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $size-values {
        .x-#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}

%hexlet-output {
  border: 1px dashed $indigo;
  padding: 8px;
}

/* the only light, non-standard block, has to be customized directly */
.hexlet-basics-theory-card {

  img {
    max-width: 100%;
  }

  table {
    width: auto;
  }

  pre {
    @extend %hexlet-output;

    code {
      @extend .pb-2;
    }
  }

  .hexlet-basics-example {
    @extend %hexlet-output;
  }

  pre.hexlet-basics-output {
    display: inline-block;
    background-color: $black;
    color: white;
    min-width: 220px;
    max-width: 100%;
    padding: 0 10px 12px 15px;
    margin-bottom: 0;
    border: none;
  }

  pre.hexlet-basics-output:before {
    content: '';
    background:url('/images/fake_output_topbar.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 210px;
    height: 27px;
    display: block;
    margin-bottom: 10px;
    background-color: #353d46;
    width: calc(100% + 15px);
    margin-left: -15px;
  }
}
