{
  presets: [
    ["@babel/env", {
      "targets": { "node": "current" },
      "ignoreBrowserslistConfig": true
    }],
    ["@babel/stage-0", {
      "decoratorsLegacy": true
    }],
    "@babel/react"
  ]
}
