---

version: v1
secret:
  data:
    db_username: "{{ hexlet_basics_vault_db_username }}"
    db_password: "{{ hexlet_basics_vault_db_password }}"
    db_name: "{{ hexlet_basics_vault_db_name }}"
  name: cloudsql-db-credentials
