GITHUB_CLIENT_ID_RU={{ hexlet_basics_vault_github_client_id_ru }}
GITHUB_CLIENT_SECRET_RU={{ hexlet_basics_vault_github_client_secret_ru }}
FACEBOOK_CLIENT_ID_EN={{ hexlet_basics_vault_facebook_client_id_en }}
FACEBOOK_CLIENT_SECRET_EN={{ hexlet_basics_vault_facebook_client_secret_en }}
AUTH0_CLIENT_ID={{ hexlet_basics_vault_auth0_client_id }}
AUTH0_CLIENT_SECRET={{ hexlet_basics_vault_auth0_client_secret }}
AUTH0_DOMAIN={{ hexlet_basics_vault_auth0_domain }}
ROLLBAR_ACCESS_TOKEN={{ hexlet_basics.vault_rollbar_access_token }}
PORT={{ hexlet_basics_port }}
DB_NAME={{ hexlet_basics_vault_db_name }}
DB_USERNAME={{ hexlet_basics_vault_db_username }}
DB_PASSWORD={{ hexlet_basics_vault_db_password }}
DB_HOSTNAME={{ hexlet_basics_vault_db_hostname }}
DB_POOL_SIZE={{ hexlet_basics_vault_db_pool_size }}
SECRET_KEY_BASE={{ hexlet_basics_vault_secret_key_base }}
AWS_REGION={{ hexlet_basics_aws_region }}
NODE_ENV={{ hexlet_basics_node_env }}
