GITHUB_CLIENT_ID_RU={{ hexlet_basics_vault_github_client_id_ru }}
GITHUB_CLIENT_SECRET_RU={{ hexlet_basics_vault_github_client_secret_ru }}
ROLLBAR_ACCESS_TOKEN={{ hexlet_basics.vault_rollbar_access_token }}
PORT={{ hexlet_basics_port }}
DB_NAME={{ hexlet_basics_vault_db_name }}
DB_USERNAME={{ hexlet_basics_vault_db_username }}
DB_PASSWORD={{ hexlet_basics_vault_db_password }}
DB_HOSTNAME={{ hexlet_basics_vault_db_hostname }}
DB_POOL_SIZE={{ hexlet_basics_vault_db_pool_size }}
SECRET_KEY_BASE={{ hexlet_basics_vault_secret_key_base }}
AWS_REGION={{ hexlet_basics_aws_region }}
NODE_ENV={{ hexlet_basics_node_env }}
