db_username = "{{ hexlet_basics_vault_db_username }}"
db_password = "{{ hexlet_basics_vault_db_password }}"
db_name = "{{ hexlet_basics_vault_db_name }}"
github_oauth_token = "{{ hexlet_basics_vault_github_oauth_token }}"
cloudflare_api_key = "{{ hexlet_basics_vault_cloudflare_api_key }}"
cloudflare_email = "{{ hexlet_basics_vault_cloudflare_email }}"
