db_username = "{{ hexlet_basics_vault_db_username }}"
db_password = "{{ hexlet_basics_vault_db_password }}"
db_name = "{{ hexlet_basics_vault_db_name }}"
github_oauth_token = "{{ hexlet_basics_vault_github_oauth_token }}"
